body { font-family: Tahoma, Helvetica, sans-serif; }
h1 { white-space:nowrap; font-size: 1.2em; font-weight: 600; }
td.time { white-space:nowrap; font-size: 1.1em; font-weight: 600; background: #CFCFCF; padding-left: 10px; padding-bottom: 5px; }
#time-stamp, td.local { white-space:nowrap; font-size: 0.8em; font-weight: 600; color: #00AF00; padding-left: 10px; text-align: right; vertical-align: top; }
td.remote { white-space:nowrap; font-size: 0.8em; font-weight: 600; color: #0000FF; padding-left: 10px; text-align: right; vertical-align: top; }
td.msg { font-family: serif; padding-left: 5px; }
td.event { white-space:nowrap; font-family: serif; color: #FF8000; padding-left: 5px; }